.mensajeEscondido {
    display: none;
}

.mensajeError {
    display: block;
    color: red;
}

[v-cloak] {
    display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;700&display=swap');

html {
    min-height: 100vh;
    max-width: 100vw;
}

html,
body * {
    box-sizing: border-box;
    font-family: 'Zen Maru Gothic', sans-serif;
}

body {
    background: linear-gradient(0.75turn, #684C9A, #A667AB, #F3A76E);
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAV BAR */


:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light: hsl(206, 33%, 96%);
    --color-black: hsl(0, 0%, 7%);
    --color-night: hsl(214, 100%, 10%);
    --color-purple: hsl(291, 64%, 42%);
    --color-indigo: hsl(255, 100%, 60%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 15px 15px -3px rgba(0, 0, 0, 0.329),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/*   html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  } */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/*   body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-black);
    background: var(--color-white);
  } */

a,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}

img,
video {
    display: block;
    /* max-width: 100%; */
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.container2 {
    max-width: 83rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 2rem;
}

.brand {
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: inherit;
    border: none;
    outline: none;
    color: #684C9A;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.brand2 {
    color: white !important;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: inherit;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}


.navbar {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: var(--color-black);
    /* background: var(--color-white); */
    box-shadow: var(--shadow-large);
}

.navbar .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.navbar .burger {
    position: relative;
    display: none;
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    border: none;
    outline: none;
    opacity: 0;
    visibility: hidden;
    background: none;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
}

.navbar .burger-line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: var(--color-black);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.navbar .burger-line:nth-child(1) {
    top: 0;
}

.navbar .burger-line:nth-child(2),
.navbar .burger-line:nth-child(3) {
    top: 0.5rem;
}

.navbar .burger-line:nth-child(4) {
    top: 1rem;
}

.navbar .burger.is-active .burger-line:nth-child(1),
.navbar .burger.is-active .burger-line:nth-child(4) {
    top: 1.25rem;
    width: 0%;
    left: 50%;
}

.navbar .burger.is-active .burger-line:nth-child(2) {
    transform: rotate(45deg);
}

.navbar .burger.is-active .burger-line:nth-child(3) {
    transform: rotate(-45deg);
}

.navbar .menu-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar .menu-link {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    border: none;
    color: white;
    /* text-transform: uppercase; */
    text-rendering: optimizeLegibility;
    transition: all 0.35s ease-in-out;
}

.navbar li {
    padding-left: 0%;
    text-transform: initial;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .navbar .burger {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .navbar .menu {
        width: 100%;
        max-height: 0rem;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.35s ease;
    }

    .navbar .menu.is-active {
        opacity: 1;
        visibility: visible;
        max-height: 200px !important;
    }

    .navbar .menu-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.75rem;
        padding: 1rem 0;
        margin-top: 1rem;
    }


}


/* FORMULARIO */
.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 10px
}

.frame {
    height: 390px;
    width: 420px;
    /* background-color: #CC7D9A; */
    background-color: blur(200px);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 20px;
    border-color: white, 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.479);
    overflow: hidden;
    transition: all .5s ease
}

.frame:hover {
    box-shadow: 2px 2px black;
}
.frame .dropdown{
    padding-bottom: 5vh;
}
.topOthersAccount{
    position: absolute;
    top: -2vh;
}
.frame-long {
    height: 460px
}

.frame-short {
    height: 400px;
    margin-top: 50px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1)
}

.nav {
    width: 100%;
    height: 70px;
    padding-top: 10px;
    opacity: 1;
    transition: all .5s ease
}

.nav-up {
    transform: translateY(-100px);
    opacity: 0
}

li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #ffffff
}

.signin-active a {
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #684C9A;
    transition: all .25s ease;
    cursor: pointer
}

.signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer
}

.signup-active a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 1px #684C9A;
    padding-bottom: 10px
}

.signup-inactive a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all .25s ease
}

.form-signin {
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 37px;
    padding-top: 5px;
    transition: opacity .5s ease, transform .5s ease
}

.form-signin-left {
    transform: translateX(-400px);
    opacity: .0
}

.form-signup {
    width: 430px;
    height: 375px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 37px;
    padding-top: 15px;
    position: relative;
    top: -375px;
    left: 400px;
    opacity: 0;
    transition: all .5s ease
}

.form-signup-left {
    transform: translateX(-399px);
    opacity: 1
}

.form-signup-down {
    top: 0px;
    opacity: 0
}

.success {
    width: 80%;
    height: 150px;
    text-align: center;
    position: relative;
    top: -890px;
    left: 450px;
    opacity: .0;
    transition: all .8s .4s ease
}

.success-left {
    transform: translateX(-406px);
    opacity: 1
}

.successtext {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: -35px;
    padding-left: 37px;
    padding-right: 37px
}

#check path {
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(255, 255, 255, .0);
    transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(255, 255, 255, .03)
}

.form-signin input,
.form-signup input {
    color: #ffffff;
    font-size: 13px
}

.form-styling {
    width: 60%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2)
}

label {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    /*  padding-bottom: 10px; */
    color: white;
    display: block
}

:focus {
    outline: none
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
    background: rgba(255, 255, 255, .3);
    border: none;
    padding-right: 40px;
    transition: background .5s ease
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    display: none
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 85px;
    padding-top: 2px;
    cursor: pointer;
    margin-top: 8px
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    width: 65px;
    height: 30px;
    background: rgba(255, 255, 255, .2);
    border-radius: 15px;
    left: 0;
    top: -3px;
    transition: all .2s ease
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, .7);
    border-radius: 50%;
    top: 7px;
    left: 10px;
    transition: all .2s ease
}

[type="checkbox"]:checked+label:before {
    background: #684C9A;
}

[type="checkbox"]:checked+label:after {
    background: #ffffff;
    top: 7px;
    left: 45px
}

[type="checkbox"]:checked+label .ui,
[type="checkbox"]:not(:checked)+label .ui:before,
[type="checkbox"]:checked+label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    transition: all .2s ease
}

[type="checkbox"]:not(:checked)+label .ui:before {
    content: "no";
    left: 32px;
    color: rgba(255, 255, 255, .7)
}

[type="checkbox"]:checked+label .ui:after {
    content: "yes";
    color: #ffffff
}

[type="checkbox"]:focus+label:before {
    box-sizing: border-box;
    margin-top: -1px
}

.btn-signup {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #684C9A
}

.btn-signin {
    color: white;
    text-decoration: none;
    float: left;
    padding-top: 7px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -5px
}

.btn-animate {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #684C9A;
    left: 0px;
    top: 0px;
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s
}

.btn-animate-grow {
    width: 130%;
    height: 625px;
    position: relative;
    left: -55px;
    top: -420px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 1)
}

a.btn-signup:hover,
a.btn-signin:hover {
    cursor: pointer;
    color: white;
    /*   background-color: #0949db;
    transition: background-color .5s */
}

.forgot {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: -435px;
    border-top: solid 1px rgba(255, 255, 255, .3);
    transition: all 0.5s ease
}

.forgot-left {
    transform: translateX(-400px);
    opacity: 0
}

.forgot-fade {
    opacity: 0
}

.forgot a {
    color: rgba(255, 255, 255, .3);
    font-weight: 700;
    font-size: 13px;
    text-decoration: none
}

.forgot a:hover {
    color: white;
}

.welcome {
    width: 100%;
    height: 50px;
    position: relative;
    color: rgba(35, 43, 85, 0.75);
    opacity: 0;
    transition: transform 1.5s ease .25s, opacity .1s ease 1s
}

.welcome-left {
    transform: translateY(-780px);
    opacity: 1
}


.cover-photo-down {
    top: -575px;
    opacity: 1
}


.btn-goback {
    position: relative;
    margin-right: auto;
    top: -400px;
    float: left;
    padding: 8px;
    width: 83%;
    margin-left: 37px;
    margin-right: 37px;
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #1059FF;
    margin-top: -8px;
    border: solid 1px #1059FF;
    opacity: 0;
    transition: top 1.5s ease 0.35s, opacity .75s ease .5s
}

.btn-goback-up {
    top: -1080px;
    opacity: 1
}

a.btn-goback:hover {
    cursor: pointer;
    background-color: #0F4FE6;
    transition: all .5s;
    color: #ffffff
}


/* LOGO INDEXXXXXXXX */

#logoIndex {
    height: 35vh;
}

#logoIndex2 {
    height: 35vh;

}


.container1 {
    height: 60vh;
    /*   display:flex;
    justify-content:center;
    align-items:center; */

    /*  background-color:#eee; */
}

.social-image {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 20;
}

/* .social-image img{
    height:100%;
    width:100%;
    border-radius:50%;
    border:3px solid #000;
    
} */

.social-container {
    position: relative;
    top: -100px;
    right: 130px;

}

.social-icons {
    width: 30px;
    height: 30px;
    z-index: 10;
    top: 20px;
    left: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
    background-color: #fff;
}

.social-container:hover .social-icons:nth-child(1) {
    transform: rotate(-60deg) translateY(-80px);
}

.social-container:hover .social-icons:nth-child(2) {
    transform: rotate(-30deg) translateY(-80px);
}

.social-container:hover .social-icons:nth-child(3) {
    transform: rotate(0deg) translateY(-85px);
}

.social-container:hover .social-icons:nth-child(4) {
    transform: rotate(30deg) translateY(-80px);
}

.social-container:hover .social-icons:nth-child(5) {
    transform: rotate(60deg) translateY(-70px);
}

.social-icons i {
    transition: all 0.5s;
}

.social-icons:hover i {
    transform: rotate(360deg);
}

/* Notificacion */

.ajs-message.ajs-error.ajs-visible {
    background-color: red !important;
    color: white;
    font-size: 1.1rem;
    border-radius: 20px;
}

.ajs-message.ajs-success.ajs-visible {
    background-color: green !important;
    color: white;
    font-size: 1.1rem;
    border-radius: 20px;
}

.ajs-dialog * {
    background-color: #684C9A !important;
    color: white;
    border-radius: 20px;
}

.alertify .ajs-dialog {
    background-color: #684C9A !important;
    color: white;
    border-radius: 20px;
}

/* moneda */
.monea {
    width: 60px;
}


/* MEDIA QUERIESSSSSSSSSSS */

@media screen and (min-width: 360px) and (max-width: 480px) {



    .form-styling {
        width: 90%;
    }

    .social-container {
        position: relative;
        top: -100px;
        right: 170px;
    }

    .social-icons {
        width: 30px;
        height: 30px;
        z-index: 10;
        top: 20px;
        left: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        transition: 0.5s;
        background-color: #fff;
    }

    .btn-animate {
        width: 90%;
    }

    label {
        font-size: 16px;
    }

    .forgot a {
        font-size: 17px;
    }

    .btn-signup {
        width: 90%;
    }

}

@media screen and (min-width: 481px) and (max-width: 540px) {

    .navbar .menu {
        margin-top: 1rem;
        /*       max-height: 200px; */
    }


    #logoIndex {
        height: 40vh;
    }

    #logoIndex2 {
        height: 40vh;

    }

    .social-container {
        position: relative;
        top: -100px;
        right: 160px;
    }

    .social-icons {
        left: 145px;
    }

    .form-styling {
        width: 90%;
    }

    .btn-signup {
        width: 90%;
    }

    .btn-animate {
        width: 90%;
    }

    label {
        font-size: 15px;
    }

    .forgot a {
        font-size: 16px;
    }


}

@media screen and (min-width: 541px) and (max-width: 820px) {

    #logoIndex {
        height: 30vh;
    }

    #logoIndex2 {
        height: 30vh;

    }

    .social-container {
        position: relative;
        top: -120px;
        right: 5px;
    }

    .social-icons {
        top: 10px;
        left: 160px;
    }

    .container1 {
        height: 45vh;
    }


    .form-styling {
        width: 90%;
    }

    .btn-signup {
        width: 90%;
    }

    .btn-animate {
        width: 90%;
    }



}


@media screen and (min-width: 821px) and (max-width: 991px) {

    #logoIndex {
        height: 50vh;
    }

    #logoIndex2 {
        height: 50vh;

    }

    .social-container {
        position: relative;
        top: -120px;
        right: 5px;
    }

    .social-icons {
        top: 10px;
        left: 160px;
    }

    .container1 {
        height: 75vh;
    }


    .form-styling {
        width: 90%;
    }

    .btn-signup {
        width: 90%;
    }

    .btn-animate {
        width: 90%;
    }


}

@media screen and (min-width: 992px) {

    #logoIndex {
        height: 55vh;
    }

    #logoIndex2 {
        height: 55vh;

    }

    .social-icons {
        top: 10px;
        left: 180px;
    }

    .form-styling {
        width: 90%;
    }


    .btn-signup {
        width: 90%;
    }

    .btn-animate {
        width: 90%;
    }

    .container1 {
        height: 95vh;
    }

    .social-container {
        position: relative;
        top: -200px;
        right: 160px;
    }
}

/* SELECT FORMULARIO */


.container5 {
    height: 10vh;
}

.container5 .dropdown-toggle {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 2px solid #684C9A;
    font-weight: 400;
}

.container5 .btn-outline-danger {
    color: #684C9A;
    border-color: #684C9A;
}

.container5 .btn-outline-danger:hover {
    color: white;
    background-color: #684C9A;
    border-color: #684C9A;
}

.container5 .dropdown-toggle:focus {

    box-shadow: none !important;

}


.container5 .dropdown-toggle::after {

    display: none;

}

.container5 .dropdown-menu {

    width: 150px;
    border: 2px solid #684C9A;
    padding: 0rem 0;
    transform: translate3d(0px, 50px, 0px) !important;

}

.container5 .dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    background-color: #684C9A;
    padding: 12px;
}

.container5 .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px;

}

/* ---------------- navbar dropdown ----------*/

.navbar .dropdown-menu {
    color: white;
}

.navbar .dropdown-menu.show {
    display: block;
    /* overflow: scroll; */
    z-index: 10;
    background-color: #684C9A;
    color: #F3A76E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5rem;
    width: 10rem;
}

.navbar .dropdown-item:hover {
    background-color: #f3a76ede;
    color: white;
    border-radius: 12px;
    box-sizing: border-box;
    font-weight: 400;
    padding: 0.25rem 1rem;
}

.navbar .dropdown-item {
    color: white;
}

.navDrop {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    border: none;
    color: white;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    transition: all 0.35s ease-in-out;
}


/* ------------------ CARD ---------------------*/
.card {
    /* background-color: #CC7D9A; */
    background-color: blur(200px) !important;
    background-color: transparent !important;
    background-image: url(./img/patroncito.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 20px;
    border-color: white, 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.479);
    overflow: hidden;
    transition: all .5s ease;
    color: white;
    background-origin: content-box;
    padding: 15px;
}

.card:hover {
    box-shadow: 2px 2px black;
}


.card a {
    color: white;
}

.material-icons {
    position: absolute;
    top: 14.4rem;
}

.card p {
    margin-bottom: 0.5rem;
    text-shadow: -0.5px -0.5px #000000;
}

.buttonNewAccount i {
    color: #F0DC88;
    width: 20vw !important
}


/* -----------------------------FOOTER ---------------------------*/
footer {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.479);
    color: white;
    margin-top: 5vh;
}


.center-content {
    margin-top: 120px;
    margin-bottom: 120px;
}


.line {
    border-top: 1px solid #684C9A;
    ;
    width: 100% !important;
}

.fa-mobile {
    font-size: 20px;
}

#contact {
    font-size: 15px;
}

.grey-text {
    color: lightgrey;
}

/* --------------- TITLE ----------------------*/
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");


h1 {
    font-size: 4vw;
    max-width: 45vw;
    color: #fefefe;
}

h1 span {
    background-image: linear-gradient(transparent calc(65% - 5px), #684C9A 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 1s ease;
    text-shadow: -1px -1px #000000;
}

h1:hover span {
    background-size: 100%;
}

h5 {
    padding-top: 5vh;
    font-size: 2.5vw;
    max-width: 35vw;
    color: white;
}

h5 span {
    background-image: linear-gradient(transparent calc(65% - 5px), #684C9A 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 1s ease;
    text-shadow: -1px -1px #000000;
}

h5:hover span {
    background-size: 100%;
}